img{
    -webkit-touch-callout: none !important; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
}

@font-face {
    font-family: lcd-text;
    src: url(../assets/fonts/advanced_pixel_lcd-7.ttf);
}

* {
    font-family: lcd-text;
    font-size: 10px;
    color: rgba(200,200,200,0.6);
}

body {
    position: absolute;
    overflow: hidden;
    touch-action: none;
}

.panel-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    display: grid;
    grid-template-rows: 30px 280px 398px 60px;
    grid-template-columns: 100px 824px 100px;
    justify-items: center;
    height: 768px;
    width: 1024px;
    background-size: 100% 100%;
    touch-action: none;
}
.hidden {
    display: none;
}
.radio.button,
.transport .button {
    margin: auto;
    height: 40px;
    width: 63px;
    top: 0px;
    left: 0px;
    background-size: 100% 100%;
    touch-action: none;
}
.pad.button {
    margin: auto;
    height: 100px;
    width: 100px;
    top: 0px;
    left: 0px;
    background-size: 100% 100%;
    touch-action: none;
}

.button.active:before{
    content: "";
    position: absolute;
    touch-action: none;
}
.pad.outline.active:before{
    content: "";
    height: 90px;
    width: 90px;
    margin: 5px;
    border-radius: 6px;
}
.radio.outline.active:before{
    height: 34px;
    width: 57px;
    margin: 3px;
    border-radius: 5px;
}
.button.outline.green.active:before{
    box-shadow: 0px 0px 10px 1px rgba(0,255,0,0.8);
}
.button.outline.pink.active:before{
    box-shadow: 0px 0px 10px 1px  rgba(255,0,144,0.8);
}
.button.outline.red.active:before{
    box-shadow: 0px 0px 10px 1px  rgba(255,0,0,0.8);
}
.button.outline.violet.active:before{
    box-shadow: 0px 0px 10px 1px  rgba(215,0,255,0.8);
}
.button.outline.turq.active:before{
    box-shadow: 0px 0px 10px 1px rgba(0,255,255,0.8);
}
.button.outline.blue.active:before{
    box-shadow: 0px 0px 10px 1px rgba(0,103,255,0.8);
}
.button.outline.yellow.active:before{
    box-shadow: 0px 0px 10px 1px rgba(213,255,0,0.8);
}
.button.outline.orange.active:before{
    box-shadow: 0px 0px 10px 1px  rgba(255,155,0,0.8);
}

.button.active:after {
    content: "";
    position: absolute;
    touch-action: none;
}
.pad.active:after {
    height: 88px;
    width: 88px;
    margin: 6px;
    border-radius: 6px;
}
.radio.active:after {
    height: 34px;
    width: 57px;
    margin: 3px;
    border-radius: 4px;
}
.radio.fill.active:after {
    box-shadow: none !important; 
}

.button.fill.green.active:after {
    box-shadow: inset 0px 0px 10px 2px rgba(0,255,0,0.8);
    background-image: radial-gradient(ellipse farthest-corner at center, rgba(0,255,0,0.9) 0%, rgba(0,0,0,0) 100%);
}
.button.fill.pink.active:after {
    box-shadow: inset 0px 0px 10px 2px rgba(255,0,144,0.8);
    background-image: radial-gradient(ellipse farthest-corner at center, rgba(255,0,144,0.8) 0%, rgba(0,0,0,0) 100%);
}
.button.fill.red.active:after {
    box-shadow: inset 0px 0px 10px 2px rgba(255,0,0,0.8);
    background-image: radial-gradient(ellipse farthest-corner at center, rgba(255,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
}
.button.fill.violet.active:after {
    box-shadow: inset 0px 0px 10px 2px rgba(215,0,255,0.8);
    background-image: radial-gradient(ellipse farthest-corner at center, rgba(215,0,255,0.8) 0%, rgba(0,0,0,0) 100%);
}
.button.fill.turq.active:after {
    box-shadow: inset 0px 0px 10px 2px rgba(0,255,255,0.8);
    background-image: radial-gradient(ellipse farthest-corner at center, rgba(0,255,255,0.8) 0%, rgba(0,0,0,0) 100%);
}
.button.fill.blue.active:after {
    box-shadow: inset 0px 0px 10px 2px rgba(0,103,255,0.8);
    background-image: radial-gradient(ellipse farthest-corner at center, rgba(0,103,255,0.8) 0%, rgba(0,0,0,0) 100%);
}
.button.fill.yellow.active:after {
    box-shadow: inset 0px 0px 10px 2px rgba(213,255,0,0.8);
    background-image: radial-gradient(ellipse farthest-corner at center, rgba(213,255,0,0.8) 0%, rgba(0,0,0,0) 100%);
}
.button.fill.orange.active:after {
    box-shadow: inset 0px 0px 10px 2px rgba(255,155,0,0.8);
    background-image: radial-gradient(ellipse farthest-corner at center, rgba(255,155,0,0.8) 0%, rgba(0,0,0,0) 100%);
}

.knob-got.green:after {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 10px 2px rgba(0,255,0,0.8);
    background-image: radial-gradient(ellipse farthest-corner at center, rgba(0,255,0,0.9) 0%, rgba(0,0,0,0) 100%);
}


.transport .knob {
    margin: auto;
    height: 100px;
    width:100px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.channel .knob {
    margin: auto;
    height: 60px;
    width:60px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.knob:before {
    content: "";
    position: absolute;
    touch-action: none;
}
.knob:after {
    content: "";
    position: absolute;
    touch-action: none;
    height: 88px;
    width: 88px;
}
.knob,.knob-dot {
    height: 60px;
    width:60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}
.channels {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.channel {
    display: grid;
    justify-items: center;
    grid-template-rows: 40px 80px 80px 80px 100px;
    grid-template-columns: 100%;
}
.pads {
    width: 824px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

.panel-top {
    display: grid;
    grid-template-rows: 45px 185px;
    grid-template-columns: 210px 380px 210px;
    grid-column-start: 2;
    grid-row-start: 2;
}

.screen {
    background-size: 100% 100%;
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 50px 85px 50px;

}

.transport {

    grid-column-start: 1;
    grid-row-start: 2;


}

.screen > * {
     align-self: center;
}
