*{
    -webkit-touch-callout: none !important; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
}

@font-face {
    font-family: lcd-text;
    src: url(../assets/fonts/advanced_pixel_lcd-7.ttf);
}

*{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    color: rgba(200,200,200,0.6);
}

body {
    position: absolute;
    overflow: hidden;
    touch-action: none;
}

.panel-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    display: grid;
    grid-template-rows: 30px 280px 398px 60px;
    grid-template-columns: 90px 844px 90px;
    justify-items: center;
    height: 768px;
    width: 1024px;
    background-size: 100% 100%;
    touch-action: none;
}
.hidden {
    display: none;
}
.btn-sml.button,
.transport .button,
.menu .button  {
    margin: auto;
    height: 40px;
    width: 63px;
    top: 0px;
    left: 0px;
    background-size: 100% 100%;
    touch-action: none;
}
.pad.button {
    margin: auto;
    height: 100px;
    width: 100px;
    top: 0px;
    left: 0px;
    background-size: 100% 100%;
    touch-action: none;
}

.button:before{
    content: "";
    position: absolute;
    touch-action: none;
}
.pad.outline:before{
    content: "";
    height: 90px;
    width: 90px;
    margin: 5px;
    border-radius: 6px;
}
.btn-sml.outline:before{
    height: 34px;
    width: 57px;
    margin: 3px;
    border-radius: 5px;
}
.knob.outline:before{
    height: 34px;
    width: 57px;
    margin: 3px;
    border-radius: 5px;
}
* {
    --mb-green: rgba(0,255,0,0.8);
    --mb-pink: rgba(255,0,144,0.8);
    --mb-red: rgba(255,0,0,0.8);
    --mb-violet: rgba(215,0,255,0.8);
    --mb-blue: rgba(0,213,255,0.8);
    --mb-turq: rgba(0,255,255,0.8);
    --mb-yellow: rgba(213,255,0,0.8);
    --mb-orange: rgba(255,155,0,0.8);
    --mb-lghtgreen: rgba(0,255,0,0.25);
    --mb-lghtpink: rgba(255,0,144,0.25);
    --mb-lghtred: rgba(255,0,0,0.25);
    --mb-lghtviolet: rgba(215,0,255,0.25);
    --mb-lghtblue: rgba(0,213,255,0.25);
    --mb-lghtturq: rgba(0,255,255,0.25);
    --mb-lghtyellow: rgba(213,255,0,0.25);
    --mb-lghtorange: rgba(255,155,0,0.25);
}
.button.outline.green.active:before{
    box-shadow: 0px 0px 10px 1px var(--mb-green);
}
.button.outline.pink.active:before{
    box-shadow: 0px 0px 10px 1px  var(--mb-pink);
}
.button.outline.red.active:before{
    box-shadow: 0px 0px 10px 1px  var(--mb-red);
}
.button.outline.violet.active:before{
    box-shadow: 0px 0px 10px 1px  var(--mb-violet);
}
.button.outline.turq.active:before{
    box-shadow: 0px 0px 10px 1px var(--mb-turq);
}
.button.outline.blue.active:before{
    box-shadow: 0px 0px 10px 1px var(--mb-blue);
}
.button.outline.yellow.active:before{
    box-shadow: 0px 0px 10px 1px var(--mb-yellow);
}
.button.outline.orange.active:before{
    box-shadow: 0px 0px 10px 1px  var(--mb-orange);
}
.button.fill.green.active:after {
    box-shadow: inset 0px 0px 10px 2px var(--mb-green);
    background-image: radial-gradient(ellipse farthest-corner at center, var(--mb-green) 0%, rgba(0,0,0,0) 100%);
}
.button.fill.pink.active:after {
    box-shadow: inset 0px 0px 10px 2px var(--mb-pink);
    background-image: radial-gradient(ellipse farthest-corner at center, var(--mb-pink) 0%, rgba(0,0,0,0) 100%);
}
.button.fill.red.active:after {
    box-shadow: inset 0px 0px 10px 2px var(--mb-red);
    background-image: radial-gradient(ellipse farthest-corner at center, var(--mb-red) 0%, rgba(0,0,0,0) 100%);
}
.button.fill.violet.active:after {
    box-shadow: inset 0px 0px 10px 2px var(--mb-violet);
    background-image: radial-gradient(ellipse farthest-corner at center, var(--mb-violet) 0%, rgba(0,0,0,0) 100%);
}
.button.fill.turq.active:after {
    box-shadow: inset 0px 0px 10px 2px var(--mb-turq);
    background-image: radial-gradient(ellipse farthest-corner at center, var(--mb-turq) 0%, rgba(0,0,0,0) 100%);
}
.button.fill.blue.active:after {
    box-shadow: inset 0px 0px 10px 2px var(--mb-blue);
    background-image: radial-gradient(ellipse farthest-corner at center, var(--mb-blue) 0%, rgba(0,0,0,0) 100%);
}
.button.fill.yellow.active:after {
    box-shadow: inset 0px 0px 10px 2px var(--mb-yellow);
    background-image: radial-gradient(ellipse farthest-corner at center, var(--mb-yellow) 0%, rgba(0,0,0,0) 100%);
}
.button.fill.orange.active:after {
    box-shadow: inset 0px 0px 10px 2px var(--mb-orange);
    background-image: radial-gradient(ellipse farthest-corner at center, var(--mb-orange) 0%, rgba(0,0,0,0) 100%);
}
.button.btn-sml.fill.green.active:after {
    box-shadow: inset 0px 0px 10px 2px var(--mb-green);
    background-image: radial-gradient(ellipse farthest-corner at center, var(--mb-lghtgreen) 0%, rgba(0,0,0,0) 100%);
}
.button.btn-sml.fill.pink.active:after {
    box-shadow: inset 0px 0px 10px 2px var(--mb-pink);
    background-image: radial-gradient(ellipse farthest-corner at center, var(--mb-lghtpink) 0%, rgba(0,0,0,0) 100%);
}
.button.btn-sml.fill.red.active:after {
    box-shadow: inset 0px 0px 10px 2px var(--mb-red);
    background-image: radial-gradient(ellipse farthest-corner at center, var(--mb-lghtred) 0%, rgba(0,0,0,0) 100%);
}
.button.btn-sml.fill.violet.active:after {
    box-shadow: inset 0px 0px 10px 2px var(--mb-violet);
    background-image: radial-gradient(ellipse farthest-corner at center, var(--mb-lghtviolet) 0%, rgba(0,0,0,0) 100%);
}
.button.btn-sml.fill.turq.active:after {
    box-shadow: inset 0px 0px 10px 2px var(--mb-turq);
    background-image: radial-gradient(ellipse farthest-corner at center, var(--mb-lghtturq) 0%, rgba(0,0,0,0) 100%);
}
.button.btn-sml.fill.blue.active:after {
    box-shadow: inset 0px 0px 10px 2px var(--mb-blue);
    background-image: radial-gradient(ellipse farthest-corner at center, var(--mb-lghtblue) 0%, rgba(0,0,0,0) 100%);
}
.button.btn-sml.fill.yellow.active:after {
    box-shadow: inset 0px 0px 10px 2px var(--mb-yellow);
    background-image: radial-gradient(ellipse farthest-corner at center, var(--mb-lghtyellow) 0%, rgba(0,0,0,0) 100%);
}
.button.btn-sml.fill.orange.active:after {
    box-shadow: inset 0px 0px 10px 2px var(--mb-orange);
    background-image: radial-gradient(ellipse farthest-corner at center, var(--mb-lghtorange) 0%, rgba(0,0,0,0) 100%);
}
.knob.outline.green.active:before{
    box-shadow: 0px 0px 10px 1px var(--mb-green);
}
.knob.outline.pink.active:before{
    box-shadow: 0px 0px 10px 1px  var(--mb-pink);
}
.knob.outline.red.active:before{
    box-shadow: 0px 0px 10px 1px  var(--mb-red);
}
.knob.outline.violet.active:before{
    box-shadow: 0px 0px 10px 1px  var(--mb-violet);
}
.knob.outline.turq.active:before{
    box-shadow: 0px 0px 10px 1px  var(--mb-turq);
}
.knob.outline.blue.active:before{
    box-shadow: 0px 0px 10px 1px var(--mb-blue);
}
.knob.outline.yellow.active:before{
    box-shadow: 0px 0px 10px 1px var(--mb-yellow);
}
.knob.outline.orange.active:before{
    box-shadow: 0px 0px 10px 1px  var(--mb-orange);
}

.button {
    display: inline-flex;
}
.button > .btn-text {
    margin: auto;
    font-size: 12px;
    color: rgba(200,200,200,0.9);
    z-index: 2;
}
.button:after {
    content: "";
    position: absolute;
    touch-action: none;
}
.pad:after {
    height: 88px;
    width: 88px;
    margin: 6px;
    border-radius: 6px;
}
.btn-sml:after {
    height: 32px;
    width: 55px;
    margin: 4px;
    border-radius: 4px;
}


.knob-got.green:after {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 10px 2px rgba(0,255,0,0.8);
    background-image: radial-gradient(ellipse farthest-corner at center, rgba(0,255,0,0.9) 0%, rgba(0,0,0,0) 100%);
}


.transport .knob {
    margin: auto;
    height: 100px;
    width:100px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.channel .knob {
    margin: auto;
    height: 60px;
    width:60px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.knob:before {
    content: "";
    position: absolute;
    touch-action: none;
}
.knob:after {
    content: "";
    position: absolute;
    touch-action: none;
    height: 88px;
    width: 88px;
}
.knob,.knob-dot {
    height: 60px;
    width:60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}
.channels {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.channel {
    display: grid;
    place-content: center;
    grid-template-rows: 40px 80px 80px 80px 100px;
    grid-template-columns: 100%;
}
.pads {
    width: 824px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
}

.panel-top {
    display: grid;
    width: 100%;
    grid-column-gap: 16px;
    grid-template-rows: 39px 194px;
    grid-template-columns: 210px 397px 210px;
    grid-column-start: 2;
    grid-row-start: 2;
}

.screen {
    background-size: 100% 100%;
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 50px 85px 50px;

}
.transport {
    justify-items: center;
    align-items: center;
    grid-column-start: 1;
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 100%;
    grid-template-areas: "transport-btns" "transport-knob";
}

.transport.button {
    display: inline-flex;
}

.transport-btns {
    grid-area: transport-btns;
}

.transport-knob {
    grid-area: transport-knob;
}


.menu {
    grid-column-start: 3;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(3, 33.3%);
}

.menu > .button{
    width: 60px;
}


.screen > * {
     align-self: center;
}
